	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header">
  		<div class="container-fluid">
  			<a class="navbar-brand">&emsp;&emsp;</a>
    		<a class="navbar-brand" href="index.html">Inicio</a>
   			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>

    	<div class="collapse navbar-collapse" id="navbarColor01">
      		<ul class="navbar-nav me-auto">
        		<li class="nav-item">
          			<a class="nav-link active" href="servicio.html">Servicio</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="registro.html">Registrar usuario</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="nosotros.html">Quien somos</a>
        		</li>
    	</div>
	</nav>