<div class="container" th:fragment="footer">
        <div class="row">
        <div class="col-md-4" background-color="red">
                <br>
                <br>
                <p class="text-primary"><small>Para cualquier duda puede <a href="mailto:jabg0014@red.ujaen.es">escribirnos</a>
                Creado por Jose Antonio Barrios García<br>
                Taller mecanico</small></p>
                
            </div>
            
            <div class="col-md-7">
                <br>
                <br>
                
            </div>
            <div class="col-md-1">
                <br>
                <br>
                <br>
                <img src="./img/logo.jpg" alt="logo" width="40" height="40">
            </div>
    	</div>
</div>